<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>The Cutting Edge</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
   
  </head>
  <body>
      <header>
          <h1><a href="/">The Cutting Edge</a></h1>
            <nav>
                
            </nav>
      </header>
    <main class="wrapper">
        <div>
            {{{ body }}}
        </div>
    </main>
    <footer>
        <h5>Style is yours for the taking! You are on the Cutting Edge</h5>
    </footer> 
    <script src="js/scripts.js"></script>
  </body>
</html>