<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>The Cutting Edge</title>
    <link rel='stylesheet' href='../../node_modules/fullcalendar/dist/fullcalendar.css' />
  <script src='../../node_modules/jquery/dist/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<script src='../../node_modules/moment/min/moment.min.js'></script>
  <script src='../../node_modules/fullcalendar/dist/fullcalendar.js'></script>

        <link href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css"
            rel="stylesheet" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css" />
     
  </head>
  <body>
     <header>
            
          <nav class="navbar navbar-expand-lg col-12">
            <h1><a href="/"> The Cutting Edge</a></h1>
                <ul class="nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
          </nav>
      </header>
    <main class="wrapper container">
        <div>
            {{{ body }}}
        </div>
    </main>
    <footer>
        <h5>Style is yours for the taking! You are on the Cutting Edge</h5>
    </footer> 
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


        {{!-- <script src="js/scripts.js"></script> --}}
        <script src="/javascript/logout.js"></script>
        <link href='fullcalendar/main.css' rel='stylesheet' />
<script src='fullcalendar/main.js'></script>

        <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"
            charset="utf-8"></script>
         
          <script src="/javascript/logout.js"></script>
        
  </body>
</html>