<div id='calendar'></div>

<div id="calendar"></div>


<script src='../public/assets/fullcalendar-5.3.2/full'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>
<script src="/javascript/calendar.js"></script>
