


    <div id="calendar" style="height: 800px;"><a href="/calendar"></a></div>

    {{!-- <script src="/javascript/calendar.js"></script> --}}


{{!-- //npm package https://nhn.github.io/tui.calendar/latest/Schedule
//other info: https://github.com/nhn/tui.calendar/blob/master/docs/getting-started.md --}}
