    <div class="col-6">
            <h2 class="page-title">Create Stylist</h2> 
            <form class="create-form">
                <div>
                    <label for="firstname-create">first name:</label>
                    <input type="text" id="firstname-create" class="form-control"/>
                </div>
                <div>
                    <label for="lastname-create">last name:</label>
                    <input type="text" id="lastname-create" class="form-control"/>
                </div>
                <div>
                    <label for="salon-create">salon name:</label>
                    <input type="text" id="salon-create" class="form-control"/>
                </div>
                <div>
                    <label for="username-create">username:</label>
                    <input type="text" id="username-create" class="form-control"/>
                </div>
                <div>
                    <label for="email-create">email:</label>
                    <input type="text" id="email-create" class="form-control"/>
                </div>
                <div>
                    <label for="password-create">password:</label>
                    <input type="password" id="password-create" class="form-control" />
                </div>
                    <br>
                <div>
                    <button class="btn create-btn" type="submit">Create Stylist</button>
                </div>
            </form>     
        </div>
        </div>
    </div> <!--end col -->

    <script src="/javascript/create-stylist.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>