<div class="row">
    <div class="col-12 mt-3">
        <h2>Choose Your Style</h2>
        <h3>Category</h3>
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="" alt="style image">
                </div>
                <div class="card-body">
                    <h4>Style</h4>
                    <p class="card-text">
                        Style Description
                        Time for Style
                        Price
                    </p>
                    <button class="btn btn-light">Book Appointment</button>
                </div>
            </div>
        </div> <!--end card -->
    </div> <!--end col -->
    
</div> <!--end row -->