<div class="row">
    <div class="col-12 mt-3">
        <h2>Choose Your Style!</h2>
         <h4>Category</h4>
        <div class="card-deck">
           
            <div class="card">
                <div class="row">
                    
                    <div class="col-4"><img src="/images/twist-braid.jpg" class="img-thumbnail" style="max-width: 200px;max-height:200px;"></div>
                    <div class="col-6">
                        <h5>Style</h5>
                        <hr>
                        Description <br>
                        Time for this appointment <br>
                        <br>Price
                    </div>
                    <div class="col-2"><button class="btn">Book Now</div>
                </div>
            </div> <!--end card -->
        </div> <!--end card-deck -->
    </div> <!--end col -->
</div> <!--end row -->