<div class="row">
    <div class="col-12 mt-3">
        <div class="row">
            <div class="col-6">
                <h2 class="page-title">Login</h2>
                <form class="login-form">
                <div>
                    <label for="email-login">email:</label>
                    <input type="text" id="email-login" class="form-control"/>
                </div>
                <div>
                    <label for="password-login">password:</label>
                    <input type="text" id="password-login" class="form-control" />
                </div>
                 <br>
                <div>
                   <button class="btn login-btn" type="submit">Login</button>
                </div>
                </form>
            </div>
            <script src="/javascript/login.js"></script>
    </div> <!--end col -->
</div> <!--end row -->

