<div class="row">
    <div class="col-12 mt-3">
        <div class="row">
            <div class="col-6">
                <h2 class="page-title">Login</h2>
                <form class="login-form">
                <div>
                    <label for="email-login">email:</label>
                    <input type="text" id="email-login" class="form-control"/>
                </div>
                <div>
                    <label for="password-login">password:</label>
                    <input type="text" id="password-login" class="form-control" />
                </div>
                 <br>
                <div>
                   <button class="btn login-btn" type="submit">Login</button>
                </div>
                </form>
            </div>
            <div class="col-6">
                <h2 class="page-title">Sign Up</h2> 
                <form class="signup-form">
                    <div>
                    <label for="firstname-signup">first name:</label>
                    <input type="text" id="firstname-signup" class="form-control"/>
                </div>
                <div>
                    <label for="lastname-signup">last name:</label>
                    <input type="text" id="lastname-signup" class="form-control"/>
                </div>
                <div>
                    <label for="phone-signup">phone:</label>
                    <input type="text" id="phone-signup" class="form-control"/>
                </div>
                <div>
                    <label for="username-signup">username:</label>
                    <input type="text" id="username-signup" class="form-control"/>
                </div>
                <div>
                    <label for="email-signup">email:</label>
                    <input type="text" id="email-signup" class="form-control"/>
                </div>
                <div>
                    <label for="password-signup">password:</label>
                    <input type="text" id="password-signup" class="form-control" />
                </div>
                <br>
                <div>
                   <button class="btn signup-btn" type="submit">Sign Up</button>
                </div>
                </form>     
                
            </div>
        </div>
            <script src="/javascript/login.js"></script>
            <script src="/javascript/signup.js"></script>
    </div> <!--end col -->
</div> <!--end row -->
