        <div class="row">
            <div class="col-6">
                <h2 class="page-title">Login Customer  <button class='btn btn-primary float-right'><a href='/signup'>Signup as New Customer</a></button></h2>
                <form class="login-form">
                <div>
                    <label for="email-login">email:</label>
                    <input type="text" id="email-login" class="form-control"/>
                </div>
                <div>
                    <label for="password-login">password:</label>
                    <input type="password" id="password-login" class="form-control" />
                </div>
                 <br>
                <div>
                   <button class="btn login-btn" type="submit">Login</button>
                </div>
                </form>
            </div>
            
            <script src="/javascript/login.js"></script>
            <script src="/javascript/signup.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>